.layout-container {
    width: var(--narrow-width);
}
#content .layout-container {
    display: flex;
    flex-direction: column;
}
#content > h1 {
    padding-top: 0;
}
#content img {
    display: block;
    max-width: min(400px, 100%);
    margin-inline: auto;
}
.question-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
}
.question-list ul li {
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: var(--secondary-clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-clr1);
    font-size: 1.5rem;
    font-weight: bold;
    transition: var(--transition);
    padding: 1rem;
    box-shadow: 5px 5px 10px var(--shadow-clr);
}