{{define "styles"}}<link rel="stylesheet" href="/css/about.css">{{end}}

{{define "main"}}
    {{partial "title.html" .}}
    <section class="layout-element" id="person">
        <div class="layout-container section-row">
            <div class="section-row-element">
                <h1 class="section-title">Kdo jsem?</h1>
                <p>Jmenuji se Alena Geršlová, mám zkušenosti z různých pozic ve školství, kde působím již řadu let, nejprve jako asistentka zástupců ředitele, následně vedoucí studijního oddělení, a dnes jako personalistka a poradkyně. Vystudovala jsem kariérové poradenství a aktuálně pokračuji v magisterském studiu andragogiky.</p>
                <p>Baví mě pomáhat žákům poznat sami sebe a najít směr, který jim bude dávat smysl.</p>
            </div>
            <div class="section-row-element">
                <img src="/media/imgs/about/alena.jpeg" alt="Alena Geršlová">
            </div>
        </div>
    </section>
    <section class="layout-element" id="quote">
        <div class="layout-container">
            <span>Věřím, že každý má v sobě něco jedinečného,<br> stačí se jen na chvíli zastavit a položit si ty správné otázky.</span>
        </div>
    </section>
    <section class="layout-element" id="space">
        <div class="layout-container section-row">
            <div class="section-row-element"></div>
            <div class="section-row-element">
                <p>Ráda vytvářím prostor pro otevřený rozhovor – ať už individuálně, nebo ve skupině. Právě ve skupině často vzniká inspirativní prostředí, kde se lidé učí jeden od druhého.</p>
            </div>
        </div>
    </section>
    <section class="layout-element" id="leisure">
        <div class="layout-container section-row">
            <div class="section-row-element">
                <p>Ve volném čase mě nejčastěji najdete mezi knihami, při zpěvu nebo na procházce se svými myšlenkami. A někdy prostě jen vypnu a nechám svět chvíli běžet bez mého zásahu.</p>
            </div>
            <div class="section-row-element">
                <img src="/media/imgs/about/leisure.jpg" alt="Zpěvačka">
            </div>
        </div>
    </section>
    <section class="layout-element" id="children">
        <div class="layout-container section-row">
            <div class="section-row-element">
                <img src="/media/imgs/about/deti.JPG" alt="Moje děti">
            </div>
            <div class="section-row-element">
                <p>Inspirací jsou mi moje vlastní děti – díky nim vím, jak důležité je mít vedle sebe někoho, kdo tě podpoří, ale zároveň tě motivuje vzít život do vlastních rukou.</p>
            </div>
        </div>
    </section>
{{end}}