{{define "styles"}}<link rel="stylesheet" href="/css/home.css">{{end}}

{{define "main"}}
    <section class="layout-element" id="hero">
        <div class="layout-container">
            <div class="hero-title">Přemýšlíš o budoucnosti?</div>
            <p class="hero-text">Přemýšlet o kariéře na střední je důležitější než se může zdát.<br> Přijď se o tom poradit!</p>
            <a href="https://calendly.com/aagerslova/konzultace" class="primary-button">Zamluvit konzultaci</a>
        </div>
    </section>
    <section class="layout-element" id="what">
        <div class="layout-container">
            <h1 class="section-title">Co to je?</h1>
        </div>
        <div class="layout-container section-row">
            <div class="section-row-element">
                <h4><i class="fa fa-briefcase"></i>Co je karierové poradenství?</h2>
                <p>Kariérové poradenství je proces, který lidem se poznat a porozumět světu kolem sebe, aby se správně rozhodovali o své budoucnosti. Jedniným odborníkem na vlastní budoucnost jsi ty sám a já ti jen pomáhám si uvědomit tvé ambice, zájmy a dovednosti.</p>
                <a href="/info/co-je-karierove-poradenstvi" class="secondary-button">Více o KP</a>
            </div>
            <div class="section-row-element">
                <h4><i class="fa fa-user-tie"></i>Pro koho to je?</h2>
                <p>Jsem tady pro všechny žáky naší školy, kteří mají chuť na sobě pracovat, kteří sami k sobě přistupují zodpovědně a jejich život jim není ukradený. Jsem tu pro ty, co chcou vzít vzít svůj život do vlastních rukou a navíc zcela zdarma.</p>
                <div style="display: flex; flex-direction: row; gap: 2em;">
                    <a href="/info/pro-rodice" class="secondary-button">Pro rodiče</a>
                    <a href="/info/pro-ucitele" class="secondary-button">Pro učitele</a>
                </div>
            </div>
    </section>
    <section class="layout-element" id="who">
        <div class="layout-container section-row">
            <div class="section-row-element">
                <h1 class="section-title">Kdo jsem?</h1>
                <p>Jmenuji se Alena Geršlová a na naší škole se starám právě o kariérové poradenství. Už mám za sebou práci asistentky, vedoucí studijního oddělení a personalisty. Dokončila jsem studium kariérového poradenství a teď jsem tu pro tebe!</p>
                <p>Potřebuješ poradit jakou vysokou vybrat? Kam po škole? Ujistit se, že se vydáváš správným směrem? Potřebuješ pomoct s orientací na pracovním trhu? Jsem tu pro tebe abych ti přesně s tímto pomohla.</p>
                <a href="/o-mne" class="secondary-button">Více o mně</a>
            </div>
            <div class="section-row-element">
                <img src="/media/imgs/home/alena.jpeg" alt="Alena Geršlová">
            </div>
        </div>
    </section>
    <section class="layout-element" id="how">
        <div class="layout-container">
            <h1 class="section-title">Jak to funguje?</h1>
        </div>
        <div class="layout-container section-row">
            <div class="section-row-element">
                <h4><i class="fa fa-user"></i>Individuální poradenství</h4>
                <p>Prostřednictvím setkání, jeden na jednoho, se podíváme na to, co už máš za sebou a naplánujeme co dál. Na závěr vše zhrneme a případně rovnou domluvíme další termín.</p>
                <blockquote>Setkání probíhají vždy ve středu a čtvrtek mezi 11:00 a 16:00.</blockquote>
                <a href="https://calendly.com/aagerslova/konzultace" class="primary-button">Zamluvit konzultaci</a>
            </div>
            <div class="section-row-element">
                <h4><i class="fa fa-users"></i>Skupinové poradenství</h4>
                <p>Na několika setkáních za pololetí se podíváme na nejdůležitější z oblasti sebepoznání, plánování, sebeprezentace a trhu práce. Skupinové poradenství je až pro 20 osob nebo celou třídu.</p>
                <blockquote>V prvním pololetí nás čekají setkání 23. 9., 14. 10., 11. 11. a 9. 12. vždy od 15:00 do 16:30 v salonku č. 2.</blockquote>
                <a href="https://forms.gle/MKeaXpsLYW5yL5tKA" class="secondary-button">Zapsat se</a>
            </div>
        </div>
    </section>
    <section class="layout-element" id="cta">
        <div class="layout-container section-row">
            <div class="section-row-element">
                <h1 class="cta-title">Zajímá tě to?</h1>
                <p>Stačí jen zamluvit konzultaci a můžeme na tvojí cestě začít pracovat společně!</p>
            </div>
            <div class="section-row-element">
                <a href="https://calendly.com/aagerslova/konzultace" class="primary-button">Zamluvit konzultaci</a>
            </div>
        </div>
    </section>
{{end}}